@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Register</h1>
    <p class="lead">Welcome to the Registration Page </p>
    <p><a href="/Home/Register" class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>

